<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <Identity Name="PocketpairInc.Palworld" Publisher="CN=5CB38C77-22C8-441B-B380-4749CAF6E325" Version="0.6.9037.0" />
  <ShellVisuals DefaultDisplayName="Palworld" PublisherDisplayName="Pocketpair, Inc" StoreLogo="Resources\StoreLogo.png" Square150x150Logo="Resources\Logo.png" Square44x44Logo="Resources\SmallLogo.png" Square480x480Logo="Resources\Square480x480Logo.png" Description="ms-resource:AppDescription" ForegroundText="dark" BackgroundColor="#000040" SplashScreenImage="Resources\SplashScreen.png" />
  <Resources>
    <Resource Language="en" />
    <Resource Language="zh-Hant" />
    <Resource Language="zh-Hans" />
    <Resource Language="es" />
    <Resource Language="de" />
    <Resource Language="fr" />
    <Resource Language="it" />
    <Resource Language="ko" />
    <Resource Language="ru" />
    <Resource Language="ja" />
    <Resource Language="pt-BR" />
  </Resources>
  <ExecutableList>
    <Executable Name="Pal/Binaries/WinGDK/Palworld-WinGDK-Shipping.exe" Id="AppPalShipping" OverrideDisplayName="ms-resource:AppDisplayName" TargetDeviceFamily="PC" />
  </ExecutableList>
  <MediaCapture>
    <GameDVRSystemComponent>true</GameDVRSystemComponent>
    <BlockBroadcast>false</BlockBroadcast>
    <BlockGameDVR>false</BlockGameDVR>
  </MediaCapture>
  <TitleId>6b210a9c</TitleId>
  <MSAAppId>58983af2-4996-4ff3-9676-f374e59c5497</MSAAppId>
  <StoreId>9NKV34XDW014</StoreId>
  <RequiresXboxLive>true</RequiresXboxLive>
  <AdvancedUserModel>false</AdvancedUserModel>
  <DesktopRegistration>
    <MultiplayerProtocol>true</MultiplayerProtocol>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
    <DependencyList>
      <KnownDependency Name="VC14" />
      <KnownDependency Name="DX11" />
    </DependencyList>
  </DesktopRegistration>
</Game>